@media (min-width:280px) {
    .buttons{
        position: absolute;
        top: 300px;
        left:0;
        width: 100%;
        padding-left: 10px;
        display: flex;
    }
    .buttons.ar{
        padding-right: 10px;
        justify-content: flex-end;
    }
    .home_btn{
        margin: 10px;
        border: 1px solid #e31b6d;
        padding: 5px 20px;
        color: #e31b6d;
        cursor: pointer;
        transition: 0.3s;
    }
    .home_btn:hover{
        background-color: #e31b6d;
        color: black;
    }
}
@media (min-width:750px){
    .buttons{
        top: 410px;
    }
    .buttons.ar{
        padding-right: 20px;
    }
    .home_btn{
        font-size: 20px !important;
    }
}
@media (min-width:810px){
    .buttons{
        top: 460px;
    }
}
@media (min-width:1000px){
    .buttons{
        padding-left: 50px;
    }
    .buttons.ar{
        padding-right: 50px;
    }
}